
<link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">

{% case page.layout %}
  {% when "mission" %}
    <link rel="stylesheet" href="{{ '/assets/css/mission.css' | relative_url }}">
  {% when "competence" %}
    <link rel="stylesheet" href="{{ '/assets/css/competence.css' | relative_url }}">
  {% when "domaine" %}
    <link rel="stylesheet" href="{{ '/assets/css/domaine.css' | relative_url }}">
  {% when "ua" %}
    <link rel="stylesheet" href="{{ '/assets/css/ua.css' | relative_url }}">
  {% when "session" %}
    <link rel="stylesheet" href="{{ '/assets/css/session.css' | relative_url }}">
  {% when "tuto" %}
    <link rel="stylesheet" href="{{ '/assets/css/tuto.css' | relative_url }}">
  {% when "prototype" %}
    <link rel="stylesheet" href="{{ '/assets/css/prototype.css' | relative_url }}">
  {% when "lab" %}
    <link rel="stylesheet" href="{{ '/assets/css/lab.css' | relative_url }}">
  {% when "projet" %}
    <link rel="stylesheet" href="{{ '/assets/css/projet.css' | relative_url }}">
{% endcase %}


<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/vs2015.min.css"
    >

<!-- Highlight.js -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        document
            .querySelectorAll("pre code")
            .forEach(function (codeBlock) {

                hljs.highlightElement(codeBlock);

            });

    });
</script>

<script defer
        src="{{ '/assets/js/formation.js' | relative_url }}">
</script>

<script defer
        src="{{ '/assets/js/afficher-editor' | relative_url }}">
</script>


<script>
    window.editeurCodeUrl = "{{ '/editeur-code' | relative_url }}";
</script>
<script defer
        src="{{ '/assets/js/code-to-iframe.js' | relative_url }}">
</script>
